.product-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0 8px 25px rgba(0,0,0,.08);

    transition: all .35s ease;

    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 18px 40px rgba(0,0,0,.12);
}

/* Image */

.product-image {
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 420px;
    object-fit: cover;

    transition: transform .5s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}

/* Info */

.product-info {
    padding: 10px 24px 30px;
    text-align: left;

    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-info h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.35rem;

    margin-bottom: 12px;

    min-height: 60px;
}

.price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary);

    margin-bottom: 24px;
}

/* Button */

.product-info button {
    width: 100%;
    padding: 15px 0px;
    

    border: none;
    border-radius: 12px;

    background: var(--primary);
    color: white;

    cursor: pointer;

    margin-top: auto;
    font-size: 0.95rem;
    font-weight: 500; 
    transition: all 0.3s ease;
}

.product-info button:hover {
    background: #16382b;
    transform: translateY(-2px);
}